.bigImgDivBackground{
    /* margin:auto; */
    width:100%;
    height:100%;
    position: fixed;
    top:0px;
    left:0px;
    border:1px solid blue;
    background-color: rgba(0, 0, 0, 0.679);
    padding:50px 150px;
    z-index: 20;
}
.bigImgButton{
    position: relative;
    float: right;
    top:0px
}
.bigImg{
    height:100%;
    width:auto;
    
}
.imgSize{
    width:100%;
    height:100%;
    background-color: blue;
    padding:100px;
}

.OutsideClose{
    position:absolute;
    top:0px;
    left:0px;
    widows: 100%;
    height:100%;
    background-color: rgb(255, 255, 0);
}