@import url('https://fonts.googleapis.com/css?family=Pacifico|Russo+One');

/* .Group{
    width:200px;
    height:200px;
    border:1px solid black;
    position: relative;    
    display:flex;
    justify-content: center;
    align-items: flex-end;
    margin:5px;
    padding:25px;
    /* background-color: red; */
    /* background-image: url('./../../Assists/Images/RV/motorhome-1511765_960_720.jpg') */
    

